body {
}

.Button {
    width: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 12px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.Navigation {
    position: absolute;
    text-align: center;
    width: 200px;
    bottom: 0px;
    right: 1274px;
    left: 0px;
    top: 0px;
    background-color: indianred;
}

.PageContent {
    position: absolute;
    left: 220px;
    top: 39px;
    bottom: 34px;
    right: 10px;
}

.table {
    position: absolute;
    font-size: 20px;
    left: 50px;
    text-align: center;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
td, th, tr{
    border: 1px solid black;
}

.tableMenu{
    border: hidden;
}


.TableHeaders {
    text-align: center;
    background-color: lightcoral;
}

.CheckBox{
    text-align: center;
}

.TableClass {
    text-align: center;
    background-color: lightgray;
}

.TableContent {
    text-align: center;

}
