body {
}

.Button {
    width: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 12px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.Navigation {
    position: absolute;
    text-align: center;
    width: 200px;
    bottom: 0px;
    right: 1274px;
    left: 0px;
    top: 0px;
    background-color: indianred;
}

.PageContent {
    position: absolute;
    left: 220px;
    top: 39px;
    bottom: 34px;
    right: 10px;
}

.generalTable {
    position: absolute;
    font-size: 20px;
    left: 50px;
    text-align: center;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
table.generalTable tr, table.generalTable th, table.generalTable td  {
    border: 1px solid black;
}

.tableMenu{
    border: none;
}

table.tableMenu tr, table.tableMenu th, table.tableMenu td {
    border: none;
}

.TableHeaders {
    text-align: center;
    background-color: lightcoral;
}

.CheckBox{
    text-align: center;
}

.TableClass {
    text-align: center;
    background-color: lightgray;
}

.TableContent {
    text-align: center;
}

.RegistrationHeader {
    background-color: lightcoral;
    position: absolute;
    height: 60px;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 50px;
}

.RegistrationContent {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 20px;
    text-align:center;
    top:70px;
}

.RegistrationTable{
}